<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutALign="start center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutALign="start center">
    <img class="nem_logo" src="../../../../assets/NEM Logo_White Border.png">
    <h1>{{headerTitle}}</h1>
  </div>
  <div>
    <button mat-icon-button (click)="onSignOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-menu #menu>
  <button mat-menu-item *ngFor="let menu of menues" routerLink="{{menu.link}}">
    <mat-icon>{{menu.icon}}</mat-icon>
    <span>{{menu.label}}</span>
  </button>
</mat-menu>
