<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="24px">
  <mat-card *ngIf="address as address">
    <mat-card-title>請求フォーム</mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
        <div fxLayout="row" fxFlex>
          <mat-form-field appearance="standard" fxFlex>
            <mat-label>支払先アドレス</mat-label>
            <input #toAddress matInput type="string" [value]="address" disabled class="address" />
            <mat-hint>自動入力, 変更不可</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
          <mat-form-field appearance="standard" fxFlex>
            <mat-label>請求額(必須)</mat-label>
            <input #invoiceDisplayQuantity matInput placeholder="請求額を入力してください" type="number"
              [disabled]="invoiceFormDisabled" />
            <span matSuffix>XEM</span>
            <mat-hint>0以上8999999999以下, 0.000001刻みで指定可</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
          <mat-form-field appearance="standard" fxFlex>
            <mat-label>メッセージ(任意)</mat-label>
            <textarea #message matInput placeholder="メッセージを入力してください" type="string"
              [disabled]="invoiceFormDisabled"></textarea>
            <mat-hint>トランザクションにメッセージを含めることが可能</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
          <button mat-flat-button color="primary" (click)="
              onCreateInvoice(
                toAddress.value,
                invoiceDisplayQuantity.value,
                message.value
              )
            " [disabled]="invoiceFormDisabled">
            請求QR表示
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="showInvoiceQRCode" fxLayout="column" fxLayoutAlign="space-around center">
    <ngx-kjua [text]="invoiceQRCodeString"></ngx-kjua>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
      <button class="invoice_cancel_button" mat-flat-button color="primary" (click)="onCancelInvoice()">
        請求キャンセル
      </button>
    </div>
  </div>
</div>
